.nav {
  position: fixed;
  z-index: 10;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: orangered;
}

.svg {fill: red;}
/* Styles pour le menu déroulant sur les petits écrans */

.menu {
  display: block;
}
  
.log {
  width: 40%;
  padding: 0;
}
  
.start {
  position: relative;
  top: 35px;
  left: 30px;
}

.logo_container {
 
  margin: auto 72px;
 
}

.logo {
  position: relative;
  z-index: 2;
  top: 20px;
}


.ul_link {
  display: flex;
  width: 40%;
  padding: 0;
  margin:  40px 0;
  justify-content: space-around;
}

.link {
  height: 30px;
  color: white;
  list-style: none;
  font-weight: bold;
}

.link:hover {
  color: black;
}

@media ((min-width: 480px)and (max-width: 768px)) {
  
  .logo_container {
    position: relative;
   right: 2%;
    
  }
  
}

@media (max-width: 480px) {
  
  .logo_container {
    position: relative;
    right: 1%;
    
  }
  
}

