.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link_container {
    display: flex;
    justify-content: space-around;
}

.link {
    width: 120px;
    text-align: left;
    transition: .4s ease-in-out;
}

.link:hover {
    color: orangered
}

.link:nth-child(1) {
    text-align: right;
}

.span {
    width: 20px;
    text-align: center;
}
.form {
    margin: 40px 0;
    padding: 16px;
    border-radius: 16px;
    border: 2px solid orangered
}

.box {
    display: flex;
    margin: 20px 0;
    flex-direction: column;
    justify-content: space-around;
}

.label {
    text-align: center;
}

.input {
    height: 24px;
    margin: 10px 0;
    border-radius: 24px;
    text-align: center;
    border: 1px solid orangered
}

.input::placeholder {
    color: rgb(8, 8, 8);
    text-align: center
}

.btn {
    margin: 10px auto;
    height: 40px;
    width: 130px;
    font-size: 1em;
    font-weight: bolder;
    border-radius: 16px;
    color: orangered;
    border: 2px solid orangered;
    background-color: white;
}

.btn:hover {
    cursor: pointer;
    color: white;
    background-color: orangered;
}

/* Only in contact form */

.p {
    text-align: center;
    margin: 24px 0;
}

.text {
    height: 84px;
    margin: 10px 0;
    border-radius: 16px;
    text-align: center;
    padding: 10px;
    border: 1px solid orangered
}

.text::placeholder {
    color: rgb(8, 8, 8);
    text-align: center;
    background: #fff;
   
}

.contact {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}